<html>
    <style>
        select{
            margin-left: 10px;
        }
        span, button{
            margin-left: 20px;
        }
        .cont{
            margin-left: 40%;
        }
    </style>

    <title>Currency Converter</title>
    
    <div class="cont">
    <h1>Currency Converter<h1>
        <form method="POST">
            <select name="from">
                {% for each in list[0] %}
                    <option value="{{ each }}" {% if each == sel_from %}selected{% endif %}>{{ each }}</option>
                {% endfor %}
            </select>
            
            <select name="to">
                {% for each in list[0] %}
                    <option value="{{ each }}" {% if each == sel_to %}selected{% endif %}>{{ each }}</option>
                {% endfor %}
            </select>
        
            <br>
            
            <input type="text" name="input" value="{{ list[1][0] }}">
            <input type="text" name="value"  value="{{ list[1][1] }}" readonly>

            <button type="submit">Convert</button>

        </form>
    </div>
<html>